@import "tailwindcss";

@theme {
  --color-accent: #aa3bff;
  --color-border-base: #e5e4e7;
}

@layer base {
  body {
    margin: 0;
    font-family: system-ui, sans-serif;
    @apply text-gray-800; 
  }

  h1 { @apply text-4xl font-bold my-6 text-black; }
  h2 { @apply text-2xl font-bold mb-4 text-black; }
}

.main-container {
  @apply max-w-5xl mx-auto min-h-screen border-x border-[--color-border-base] text-center;
}